
.Dhaba-Heading{
    text-align: center;
    font-size: 24px;
    color: red;
    font-weight: bolder;
    
}
*{
    margin: 0;
    padding: 5px;
}
.Food-card-Container{
    margin: 10px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title{
    display: flex;
    align-items: center;
    background-color: aqua;
    justify-content: center;
    border-radius: 10px;
}
.heading-img{
    height: 50px;
    width: 50px;
    align-items: center;
}